.wrapper {
  width: 100%;
}

.inner {
  /* For Block Elements */
  width: 960px;
  margin: 0 auto;

}

body {
  margin: 0;
}

header {
  border-bottom: 2px solid #000;
  margin-top: 10px;
}

header .inner {
  display: table;
}

header p {
  display: table-cell;
  vertical-align: middle;
  /*padding-right: 20px;*/
}

#menu {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

#menu li {
  float: left;
  list-style: none;
  height: 50px;
}

/* Clearfix */
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}

footer {
  background-color: #000;
}

footer p {
  text-align: center;
  color: #fff;
  font-size: 10px;
  margin: 0;
}
