.wrapper {
  width: 100%;
}

.inner {
  /* For Block Elements */
  width: 960px;
  margin: 0 auto;

}

body {
  margin: 0;
}

header {
  border-bottom: 2px solid #000;
  margin-top: 10px;
}

header .inner {
  display: table;
}

header p {
  display: table-cell;
  vertical-align: middle;
  /*padding-right: 20px;*/
}

#main-image {
  margin: 10px;
}

#menu {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin-bottom: 20px;
}

#menu li {
  float: left;
  list-style: none;
  height: 50px;
}

/* Clearfix */
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}

#contents h2 {
  border-left-style: solid;
  padding-left: 10px;
  margin-bottom: 8px;
}

.underLine {
  border-bottom: 2px dashed gray;
  margin-bottom: 8px;
}

#news {
  float: left;
  width: 590px;
  margin-bottom: 20px;
  margin-right: 10px;
}

#news li {
  margin-top:20px;
  border-bottom: 10px;
  border-bottom: 1px dashed #C9C9C9;
}

#news h2 {
  border-left-color: orange;
}

#facebook {
  margin-left: 610px; 
  margin-bottom: 20px;
}

#facebook h2 {
  border-left-color: blue;
}

#banner {
  float: left;
  width: 590px;
  height: 300px;
  background-color: gray;
  margin-bottom: 20px;
}

#twitter {
  margin-left: 610px;
  margin-bottom: 10px;
}

#twitter h2 {
  border-left-color: #00FFEA;
}

.tmpbox {
  width: 360px;
  height: 300px;
  background-color: gray;
}


footer {
  clear: both;
  background-color: #000;
  height: 30px;
}

footer p {
  text-align: center;
  color: #fff;
  font-size: 12px;
  margin: 0;
}
